In [61]:
import pandas as pd

df = pd.read_csv(r"C:\Users\luken\OneDrive\Desktop\hmda_2017_nationwide_all-records_labels.csv")

C:\Users\luken\AppData\Local\Temp\ipykernel_22216\2336587551.py:3: DtypeWarning: Columns (34,36,38,44,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\luken\OneDrive\Desktop\hmda_2017_nationwide_all-records_labels.csv")

In [87]:
filtered_df = df[df['state_name'] == 'Virginia']

In [88]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(filtered_df):
    # Drop column: 'edit_status_name'
    filtered_df = filtered_df.drop(columns=['edit_status_name'])
    # Drop columns: 'sequence_number', 'edit_status' and 23 other columns
    filtered_df = filtered_df.drop(columns=['sequence_number', 'edit_status', 'rate_spread', 'denial_reason_3', 'denial_reason_name_3', 'denial_reason_2', 'denial_reason_name_2', 'denial_reason_1', 'denial_reason_name_1', 'co_applicant_race_5', 'co_applicant_race_name_5', 'co_applicant_race_4', 'co_applicant_race_name_4', 'co_applicant_race_3', 'co_applicant_race_name_3', 'co_applicant_race_2', 'co_applicant_race_name_2', 'applicant_race_5', 'applicant_race_name_5', 'applicant_race_4', 'applicant_race_name_4', 'applicant_race_3', 'applicant_race_name_3', 'applicant_race_2', 'applicant_race_name_2'])
    # Drop columns: 'state_code', 'state_abbr' and 5 other columns
    filtered_df = filtered_df.drop(columns=['state_code', 'state_abbr', 'state_name', 'agency_abbr', 'respondent_id', 'as_of_year', 'application_date_indicator'])
    return filtered_df

filtered_df_clean = clean_data(filtered_df.copy())
filtered_df_clean.head()

,agency_name,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,loan_purpose,owner_occupancy_name,owner_occupancy,...,hoepa_status_name,hoepa_status,lien_status_name,lien_status,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
35,National Credit Union Administration,5,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home improvement,2,Owner-occupied as a principal dwelling,1,...,Not a HOEPA loan,2,Secured by a subordinate lien,2,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
113,Department of Housing and Urban Development,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Home purchase,1,Owner-occupied as a principal dwelling,1,...,Not a HOEPA loan,2,Not applicable,4,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
170,Department of Housing and Urban Development,7,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,3,Owner-occupied as a principal dwelling,1,...,Not a HOEPA loan,2,Secured by a first lien,1,6848.0,13.90,107600.0,191.580002,1941.0,2216.0
209,Consumer Financial Protection Bureau,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,1,Owner-occupied as a principal dwelling,1,...,Not a HOEPA loan,2,Not applicable,4,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
251,Federal Deposit Insurance Corporation,3,VA-guaranteed,3,One-to-four family dwelling (other than manufa...,1,Home purchase,1,Owner-occupied as a principal dwelling,1,...,Not a HOEPA loan,2,Secured by a first lien,1,7970.0,15.41,78700.0,150.369995,2506.0,2752.0

In [89]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(filtered_df_clean):
    # Drop columns: 'agency_code', 'loan_type' and 14 other columns
    filtered_df_clean = filtered_df_clean.drop(columns=['agency_code', 'loan_type', 'property_type', 'loan_purpose', 'owner_occupancy', 'preapproval', 'action_taken', 'applicant_ethnicity', 'co_applicant_ethnicity', 'applicant_race_1', 'co_applicant_race_1', 'applicant_sex', 'co_applicant_sex', 'purchaser_type', 'hoepa_status', 'lien_status'])
    return filtered_df_clean

filtered_df_clean_1 = clean_data(filtered_df_clean.copy())
filtered_df_clean_1.head()

,agency_name,loan_type_name,property_type_name,loan_purpose_name,owner_occupancy_name,loan_amount_000s,preapproval_name,action_taken_name,msamd_name,msamd,...,applicant_income_000s,purchaser_type_name,hoepa_status_name,lien_status_name,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units
35,National Credit Union Administration,Conventional,One-to-four family dwelling (other than manufa...,Home improvement,Owner-occupied as a principal dwelling,20.0,Not applicable,Loan originated,Richmond - VA,40060.0,...,103.0,Loan was not originated or was not sold in cal...,Not a HOEPA loan,Secured by a subordinate lien,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
113,Department of Housing and Urban Development,FHA-insured,One-to-four family dwelling (other than manufa...,Home purchase,Owner-occupied as a principal dwelling,258.0,Not applicable,Loan purchased by the institution,Richmond - VA,40060.0,...,119.0,Ginnie Mae (GNMA),Not a HOEPA loan,Not applicable,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
170,Department of Housing and Urban Development,FHA-insured,One-to-four family dwelling (other than manufa...,Refinancing,Owner-occupied as a principal dwelling,562.0,Not applicable,Application denied by financial institution,"Washington, Arlington, Alexandria - DC, VA, MD...",47894.0,...,103.0,Loan was not originated or was not sold in cal...,Not a HOEPA loan,Secured by a first lien,6848.0,13.90,107600.0,191.580002,1941.0,2216.0
209,Consumer Financial Protection Bureau,Conventional,One-to-four family dwelling (other than manufa...,Home purchase,Owner-occupied as a principal dwelling,229.0,Not applicable,Loan purchased by the institution,Richmond - VA,40060.0,...,62.0,Freddie Mac (FHLMC),Not a HOEPA loan,Not applicable,7970.0,15.41,78700.0,150.369995,2506.0,2752.0
251,Federal Deposit Insurance Corporation,VA-guaranteed,One-to-four family dwelling (other than manufa...,Home purchase,Owner-occupied as a principal dwelling,464.0,Not applicable,Loan originated,Richmond - VA,40060.0,...,120.0,"Commercial bank, savings bank or savings assoc...",Not a HOEPA loan,Secured by a first lien,7970.0,15.41,78700.0,150.369995,2506.0,2752.0

to categorize: 
- agency name
- loan_type_name
- property type name
- loan purpose name
- owner occupancy name
- preapproval name

- applicant_ethnicity_name
- co_applicant_ethnicity_name
- applicant_race_name_1
- co_applicant_race_name_1
- applicant_sex_name
- co_applicant_sex_name
- purchaser_type_name
- hoepa_status_name
- lien_status_name



to drop:
- masamd
- county_code

In [90]:
# List of columns to one-hot encode
columns_to_encode = [
    'agency_name', 'loan_type_name', 'property_type_name', 'loan_purpose_name', 
    'owner_occupancy_name', 'preapproval_name', 'applicant_ethnicity_name', 
    'co_applicant_ethnicity_name', 'applicant_race_name_1', 'co_applicant_race_name_1', 
    'applicant_sex_name', 'co_applicant_sex_name', 'purchaser_type_name', 
    'hoepa_status_name', 'lien_status_name', 'msamd_name', 'county_name'
]

# One-hot encode the specified columns
encoded_df = pd.get_dummies(filtered_df_clean_1, columns=columns_to_encode)

# Display the first few rows of the encoded dataframe
encoded_df.head()

,loan_amount_000s,action_taken_name,msamd,county_code,census_tract_number,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,...,county_name_Virginia Beach city,county_name_Warren County,county_name_Washington County,county_name_Waynesboro city,county_name_Westmoreland County,county_name_Williamsburg city,county_name_Winchester city,county_name_Wise County,county_name_Wythe County,county_name_York County
35,20.0,Loan originated,40060.0,41.0,1010.1,103.0,7970.0,15.41,78700.0,150.369995,...,False,False,False,False,False,False,False,False,False,False
113,258.0,Loan purchased by the institution,40060.0,41.0,1010.1,119.0,7970.0,15.41,78700.0,150.369995,...,False,False,False,False,False,False,False,False,False,False
170,562.0,Application denied by financial institution,47894.0,13.0,1002.0,103.0,6848.0,13.90,107600.0,191.580002,...,False,False,False,False,False,False,False,False,False,False
209,229.0,Loan purchased by the institution,40060.0,41.0,1010.1,62.0,7970.0,15.41,78700.0,150.369995,...,False,False,False,False,False,False,False,False,False,False
251,464.0,Loan originated,40060.0,41.0,1010.1,120.0,7970.0,15.41,78700.0,150.369995,...,False,False,False,False,False,False,False,False,False,False

In [91]:
# Drop the specified columns
encoded_df = encoded_df.drop(columns=['msamd', 'county_code'])

# Display the first few rows of the updated dataframe
encoded_df.head()

,loan_amount_000s,action_taken_name,census_tract_number,applicant_income_000s,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,...,county_name_Virginia Beach city,county_name_Warren County,county_name_Washington County,county_name_Waynesboro city,county_name_Westmoreland County,county_name_Williamsburg city,county_name_Winchester city,county_name_Wise County,county_name_Wythe County,county_name_York County
35,20.0,Loan originated,1010.1,103.0,7970.0,15.41,78700.0,150.369995,2506.0,2752.0,...,False,False,False,False,False,False,False,False,False,False
113,258.0,Loan purchased by the institution,1010.1,119.0,7970.0,15.41,78700.0,150.369995,2506.0,2752.0,...,False,False,False,False,False,False,False,False,False,False
170,562.0,Application denied by financial institution,1002.0,103.0,6848.0,13.90,107600.0,191.580002,1941.0,2216.0,...,False,False,False,False,False,False,False,False,False,False
209,229.0,Loan purchased by the institution,1010.1,62.0,7970.0,15.41,78700.0,150.369995,2506.0,2752.0,...,False,False,False,False,False,False,False,False,False,False
251,464.0,Loan originated,1010.1,120.0,7970.0,15.41,78700.0,150.369995,2506.0,2752.0,...,False,False,False,False,False,False,False,False,False,False

In [79]:
print(encoded_df['action_taken_name'].unique())

['Loan originated' 'Loan purchased by the institution'
 'Application denied by financial institution'
 'Application withdrawn by applicant' 'File closed for incompleteness'
 'Application approved but not accepted'
 'Preapproval request denied by financial institution'
 'Preapproval request approved but not accepted']

1 = approved ['loan originated', 'loan purchased by the institution','Preapproval request approved but not accepted','application approved but not accepted']
2 = denied ['application denied by financial institution', 'Preapproval request denied by financial institution']
3 = Other ['file closed for incompleteness', 'application withdrawn by applicant']

In [92]:
# Ensure action_taken_name is a category
encoded_df['action_taken_name'] = encoded_df['action_taken_name'].astype('category')

# Define the mapping dictionary
action_taken_map = {
    'Loan originated': 'approved',
    'Loan purchased by the institution': 'approved',
    'Preapproval request approved but not accepted': 'approved',
    'Application approved but not accepted': 'approved',
    'Application denied by financial institution': 'denied',
    'Preapproval request denied by financial institution': 'denied',
    'File closed for incompleteness': 'other',
    'Application withdrawn by applicant': 'other'
}

# Map the action_taken_name to the new categories
encoded_df['action_taken_name'] = encoded_df['action_taken_name'].map(action_taken_map)

# Handle unexpected values (if necessary)
encoded_df['action_taken_name'] = encoded_df['action_taken_name'].fillna('unknown')

# Display the first few rows of the updated dataframe
print(encoded_df[['action_taken_name']].head())

    action_taken_name
35           approved
113          approved
170            denied
209          approved
251          approved

In [ ]:
# Save the cleaned data to a new CSV file
#encoded_df.to_csv('cleaned_housing_data.csv', index=False)

In [93]:
# drop all rows in action_taken_name that are "other"
encoded_df = encoded_df[encoded_df['action_taken_name'] != 'other']

In [94]:
# rename action_taken_name to approved
encoded_df = encoded_df.rename(columns={'action_taken_name': 'approved'})
# # if approved is approved, approved = 1 and denied = 0
encoded_df['approved'] = (encoded_df['approved'] == 'approved').astype(int)

Building a Logistic Regression Model
- missing values in:
    - census tract number
    - applicant income
    - population
    - minority population percent
    - ffiec median family income ***
    - tract to msa md income
    - number of owner occupied units
    - number of 1 to 4 family units

In [95]:
# fill applicant_income_000s with the median
encoded_df['applicant_income_000s'] = encoded_df['applicant_income_000s'].fillna(encoded_df['applicant_income_000s'].median())

In [ ]:
encoded_df